@using Microsoft.AspNetCore.Identity
@using QuanLyTaiLieuKhoaHoc.Web.Models
@inject SignInManager<NguoiDung> SignInManager
@inject UserManager<NguoiDung> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <i class="fas fa-user me-2"></i>@User.Identity?.Name
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                @if (User.IsInRole("SinhVien"))
            {
            <li><a class="dropdown-item" asp-controller="Student" asp-action="Dashboard-Student">
            <i class="fas fa-user-cog me-2"></i>Thông tin cá nhân
            </a></li>
            }
            else if (User.IsInRole("GiangVien"))
            {
            <li><a class="dropdown-item" asp-controller="Lecturer" asp-action="Dashboard-Lecturer">
            <i class="fas fa-user-cog me-2"></i>Thông tin cá nhân
            </a></li>
            }

            
                <li>
                    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                        <button type="submit" class="dropdown-item">
                            <i class="fas fa-sign-out-alt me-2"></i>Đăng xuất
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">
                <i class="fas fa-user-plus me-2"></i>Đăng ký
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">
                <i class="fas fa-sign-in-alt me-2"></i>Đăng nhập
            </a>
        </li>
    }
</ul>
